{% extends 'base.html' %}

{% block title %} About {% endblock  %}

{% block content %}
<section class="page-section" id="contact">
   <div class="container">
      <!-- Contact section heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-@"> Bazi Reader</h2>
      <!-- Icon divider -->
      <div class="divider-custom">
         <div class="divider-custom-line"></div>
         <div class="divider-custom-icon"><i class="fas fa-envelope"></i></div>
         <div class="divider-custom-line"></div>
      </div>

      <div class="text-center text-secondary mb-@">
         <p>
            This is about me!
         </p>
         <p>
            You can also send us email at <a href="mailto:bazireader16@gmail.com">bazireader16@gmail.com</a>
         </p>
      </div>

      <!-- Contact section form -->
      <div class="row">
         <div class="col-lg-8 mx-auto">

            <div class="alert alert-success" role="alert">
               Under construction
            </div>

         </div>
      </div>
   </div>
</section>

{% endblock  %}