{% extends 'base.html' %}

{% block title %}
   Contact
{% endblock  %}

{% block content %}
<section class="page-section" id="contact">
   <div class="container">
      <!-- Contact section heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-@"> Contact Us</h2>
      <!-- Icon divider -->
      <div class="divider-custom">
         <div class="divider-custom-line"></div>
         <div class="divider-custom-icon"><i class="fas fa-envelope"></i></div>
         <div class="divider-custom-line"></div>
      </div>

      <div class="text-center text-secondary mb-@">
         <p>
            We do our best to respond to emails, but we get so many that it's hard to respond to all
         </p>
         <p>
            You can also send us email at <a href="mailto:bazireader16@gmail.com">bazireader16@gmail.com</a>
         </p>
      </div>

      <!-- Contact section form -->
      <div class="row">
         <div class="col-lg-8 mx-auto">

            {% if success %}
            <div class="alert alert-success" role="alert">
               Your message was sent! Thank you
            </div>
            {% endif %}

            <!-- to configure contact form email goto mail/contact.php -->
            <form id="contactform" name="sentMessage" novalidate="novalidate" method="post">
               {% csrf_token %}

               {% if form.non_field_errors %}
               <div class="alert alert-danger" role="alert">
                  {{ form.non_field_errors }}
               </div>
               {% endif %}

               {% for field in form %}
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls mb-@ pb-2">
                     {{ field.label_tag }}
                     {{ field }}

                     {% for error in field.errors %}
                     <p class="help-block text-danger">{{ error }}</p>
                     {% endfor %}
                  </div>
               </div>
               {% endfor %}

               <br />
               <div class="form-group">
                  <button  id="sendMessageButton" type="submit">SEND</button>

               </div>
            </form>
         </div>
      </div>
   </div>
</section>

{% endblock  %}